:root {
    --white: #F0F7F4;
    --black: #32292F;
    --bluegreen: #99E1D9;
    --blue: #70ABAF;
    --brown: #705D56;

    --h1: 3rem;
    --h2: 2rem;
    --h3: 1.75rem;
    --h4: 1.35rem;
    --normaltext: 1.15rem;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--white);
    height: 200vh;
}

/* Go to top fixed button  */

#top-btn {
    position: fixed;
    right: 20px;
    bottom: 60px;
    padding: 20px;
    width: 90px;
    height: 60px;
    background: url('assets/to-top.svg');
    background-size: 55px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    z-index: 1;
    border-radius: 8px;
}

#top-btn-bg {
    position: fixed;
    right: 20px;
    bottom: 60px;
    padding: 20px;
    width: 90px;
    height: 60px;
    z-index: 0;
    border: none;
    border-radius: 8px;
    background-color: var(--brown);
}

.top-btn-bg-hover {
    background-color: var(--blue);
}

/* Everything nav */

.header a img {
    display: flex;
    align-items: center;
    margin: 15px;
}

.navbar {
    background-color: var(--brown);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.navbar ul li {
    font-size: 1rem;
}

.nav-link {
    text-decoration: none;
    color: var(--white);
    padding: 10px 1.25rem;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 var(--black);
    transition: ease-out 0.2s;
    display: flex;
    flex-wrap: wrap;
}

.nav-link:hover {
    color: var(--blue);
    box-shadow:inset 150px 0 0 0 var(--black);
}

.logo {
    height: 50px;
}

/* Main Banner + Content */

.heading {
    background-color: rgba(240, 247, 244, 0.85); /* same as white var but rgba*/
    max-width: 788px;
    padding: 20px;
    border-radius: 20px;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 550px;
    background: url("assets/header.jpg") no-repeat;
    background-size: cover;
}

.heading h1, .heading h4, .heading p, .heading input {
    text-align: center;
}

.heading h1 {
    font-size: var(--h1);
    font-weight: bold;
}

.heading h4 {
    font-size: var(--h4);
    font-weight: 300;
    margin-bottom: 10px;
}

.heading .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.heading .info-btn{
    margin: 15px 5px 5px 5px;
    text-align: center;
    height: 47px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: var(--blue);
}

.info-btn:hover {
    background-color: var(--bluegreen);
    transform: scale(1.05);
}

.info-btn:active {
    transform: scale(0.97);
}

.heading .info-btn a {
    text-decoration: none;
    font-size: var(--normaltext);
    color: var(--black);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--blue);
}

/* Same Day Service Section  */

.same-day-container {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--black);
    padding: 20px;
    color: var(--white);
}

.same-day h3 {
    margin-bottom: 5px;
}

.same-day p {
    line-height: 1.2rem;
}

.same-day a {
    color: #937C8B;
    transition: 0.2s ease;
}

.same-day a:hover {
    color: #A18C9A;
}

.same-day {
    max-width: 764px;
}

/* Services Section  */

.services-container {
    text-align: center;
    padding: 30px;
    color: var(--black);
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin: 30px;
}

.card {
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 0.5rem;
    background-color: var(--black);
}

.card h3 {
    padding: 15px 15px 5px 15px;
    color: var(--blue);
}

.card p {
    padding: 0 15px 15px 15px;
    color: var(--white);
}

/* FAQ */

#faq-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.faq-container {
    width: 500px;
    background-color: var(--brown);
    border-radius: 15px;
}

.faq {
    max-width: 764px;
}

.faq-container .faq h3 {
    text-align: center;
    margin: 25px 25px 5px 25px;
    font-size: var(--h3);
}

details {
    display: flex;
    justify-content: center;
    font-size: var(--normaltext);
    text-align: center;
}

details:hover {
    
}

details summary {
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 15px;
    display: list-item;
}

details summary:hover {
    background-color: white;
}

details p {
    padding: 10px;
    text-align: center;
    font-size: 1rem;
}

/* Miscellaneous */

/* divider  <hr> design */

.hr-container {
    display: flex;
    justify-content: center; 
    align-items: center;  
    width: 100%;
    height: 50px;
    margin: 30px 0 0 0;
}

hr {
    min-width: 75%;
    height: 5px;
    background-color: var(--bluegreen);
    border-radius: 10px;
    border: none;
}