:root {
    --white: #F0F7F4;
    --black: #32292F;
    --bluegreen: #99E1D9;
    --blue: #70ABAF;
    --brown: #705D56;
    --yellow: #F0DBA4;

    --h1: 3rem;
    --h2: 2rem;
    --h3: 1.75rem;
    --h4: 1.35rem;
    --normaltext: 1.15rem;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--white);
    height: 200vh;
}

/* Go to top fixed button  */

#top-btn {
    position: fixed;
    right: 20px;
    bottom: 60px;
    padding: 20px;
    width: 90px;
    height: 60px;
    background: url('assets/to-top.svg');
    background-size: 55px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    z-index: 99;
    border-radius: 8px;
}

#top-btn-bg {
    position: fixed;
    right: 20px;
    bottom: 60px;
    padding: 20px;
    width: 90px;
    height: 60px;
    z-index: 9;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: rgba(112, 93, 86, 0.75); /* brown variable in rgba */
}

@media only screen and (max-width: 600px) {
    #top-btn {
        width: 60px;
        height: 45px;
    }
    #top-btn-bg {
        width: 60px;
        height: 45px;
    }
}


/* Everything nav */

.header a img {
    display: flex;
    align-items: center;
    margin: 15px;
}

.navbar {
    background-color: #4B3E3A;;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.navbar ul li {
    font-size: 1rem;
}

.nav-link {
    text-decoration: none;
    color: var(--white);
    padding: 10px 1.25rem;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 var(--black);
    transition: ease-out 0.2s;
    display: flex;
    flex-wrap: wrap;
}

.nav-link:hover {
    color: var(--blue);
    box-shadow:inset 150px 0 0 0 var(--black);
}

.logo {
    height: 50px;
}

/* Main Banner + Content */

.heading {
    background-color: rgba(240, 247, 244, 0.85); /* same as white var but rgba*/
    max-width: 788px;
    padding: 20px;
    border-radius: 20px;
    margin: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 550px;
    background: url("assets/header.webp") no-repeat;
    background-size: cover;
    background-position: center;
}

.heading h1, .heading h4, .heading p, .heading input {
    text-align: center;
}

.heading h1 {
    font-size: var(--h1);
    font-weight: bold;
}

.heading h4 {
    font-size: var(--h4);
    font-weight: 300;
    margin-bottom: 10px;
}

.heading .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.heading .info-btn{
    margin: 15px 5px 5px 5px;
    text-align: center;
    height: 47px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: var(--blue);
}

.info-btn:hover {
    background-color: var(--bluegreen);
    transform: scale(1.05);
}

.info-btn:active {
    transform: scale(0.97);
}

.heading .info-btn a {
    text-decoration: none;
    font-size: var(--normaltext);
    color: var(--black);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--blue);
}

/* Same Day Service Section  */

.same-day-container {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #4B3E3A;
    padding: 20px;
    color: var(--white);
}

.same-day h3 {
    margin-bottom: 5px;
    color: var(--yellow);
}

.same-day p {
    line-height: 1.2rem;
}

.same-day a {
    color: var(--yellow);
    transition: 0.2s ease;
}

.same-day a:hover {
    color: #A18C9A;
}

.same-day {
    max-width: 764px;
}

/* Services Section  */

.services-container {
    text-align: center;
    padding: 30px;
    color: var(--black);
    width: 100%;
    display: flex;
    justify-content: center;
}

.services-container h2 {
    font-size: var(--h2);
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin: 30px;
}

.card {
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 0.5rem;
    background-color: var(--black);
    transition: 0.3s;
}

#services .card-pic-1:hover, .card-pic-2:hover, .card-pic-3:hover {
    transform: scale(1.07);
}

.card h3 {
    padding: 15px 15px 5px 15px;
    color: var(--blue);
}

.card p {
    padding: 0 15px 15px 15px;
    color: var(--white);
}

/* Services Pictures */

.card-pic-1 p, .card-pic-2 p, .card-pic-3 p {
    visibility: hidden;
}

.card-pic-1 h3, .card-pic-2 h3, .card-pic-3 h3 {
    visibility: hidden;
}

.card-pic-1 {
    background: url(assets/repair.webp);
    background-size: cover;

}

.card-pic-2 {
    background: url(assets/upgrade.webp);
    background-size: cover;

}

.card-pic-3 {
    background: url(assets/network.webp);
    background-size: cover;

}

/* About Us Section */

#about-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    /* background-color: red; */
}

.about-container {
    width: 764px;
    margin: 0 50px;
    background: url(assets/about.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    border: 4px solid rgba(112, 93, 86, 0.75); /* brown variable in rgba */
}

.about-text {
    color: white;
    position: absolute;
    text-align: center;
    bottom: 0;
    max-width: 564px;
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 410px) {
    .about-text {
        /* position: relative; */
        bottom: 20px;
        height: 10.8em;
    }
    .about-text::after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70%;
        height: 1.2em;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1) 50%);
    }
}

.about {
    max-width: 764px;
    height: 500px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about h3 {
    color: var(--white);
    font-size: var(--h3);
    transform-origin: center;
    transform: rotate(42.5deg);
    /* background-color: pink; */
    margin-left: 5%;
    margin-bottom: 47%;
}

/* About section mobile view  */

@media only screen and (max-width: 865px) {
    .about h3 {
        margin-left: 1.5%;
        margin-bottom: 50%;
    }
}

@media only screen and (max-width: 790px) {
    .about h3 {
        margin-left: 3.5%;
        margin-bottom: 53%;
    }
}

@media only screen and (max-width: 740px) {
    .about h3 {
        margin-left: 4.5%;
        margin-bottom: 55%;
    }
}

@media only screen and (max-width: 690px) {
    .about h3 {
        margin-left: 5%;
        margin-bottom: 57%;
    }
}

@media only screen and (max-width: 640px) {
    .about h3 {
        margin-left: 6%;
        margin-bottom: 60%;
    }
}

@media only screen and (max-width: 585px) {
    .about h3 {
        margin-left: 7%;
        margin-bottom: 62%;
    }
}

@media only screen and (max-width: 550px) {
    .about h3 {
        margin-left: 7%;
        margin-bottom: 64%;
    }
}

@media only screen and (max-width: 500px) {
    .about h3 {
        margin-left: 8%;
        margin-bottom: 68%;
    }
}

@media only screen and (max-width: 450px) {
    .about h3 {
        margin-left: 11%;
        margin-bottom: 72%;
    }
}

@media only screen and (max-width: 400px) {
    .about h3 {
        margin-left: 15%;
        margin-bottom: 75%;
    }
}

@media only screen and (max-width: 375px) {
    .about h3 {
        margin-left: 9%;
        margin-bottom: 57%;
    }
}

@media only screen and (max-width: 350px) {
    .about h3 {
        margin-left: 13%;
        margin-bottom: 65%;
    }

    .absolute {
        height: 13.8em;
        overflow: hidden;
    }

    .absolute::after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70%;
        height: 1.2em;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1) 50%);
    }
}

@media only screen and (max-width: 320px) {
    .about h3 {
        text-align:center;
        margin-right: 28%;
        margin-bottom: 75%;
    }

    .absolute {
        height: 12em;
        overflow: hidden;
    }
    
    .absolute::after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70%;
        height: 1.2em;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1) 50%);
    }
}


/* FAQ */

#faq-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.faq-container {
    width: 764px;
    background-color: #4B3E3A;
    border-radius: 15px;
    color: var(--white);
    margin: 0 50px;
}

.faq {
    max-width: 764px;
}

.faq-container .faq h3 {
    text-align: center;
    margin: 25px 25px 5px 25px;
    font-size: var(--h3);
}

details {
    display: flex;
    justify-content: center;
    font-size: var(--normaltext);
    text-align: center;
}

details summary {
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 15px;
    display: list-item;
    outline: none;
}

details summary:hover {
    background-color: var(--brown);
}

.summary-active-bg {
    background-color: var(--brown);
}

details p {
    padding: 10px 25px 10px 25px;
    text-align: center;
    font-size: 1rem;
}

/* Miscellaneous */

/* divider  <hr> design */

.hr-container {
    display: flex;
    justify-content: center; 
    align-items: center;  
    width: 100%;
    height: 50px;
    margin: 30px 0 0 0;
}

hr {
    min-width: 75%;
    height: 5px;
    background-color: var(--bluegreen);
    border-radius: 10px;
    border: none;
}

/* Contact Modal  */

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    z-index: 100; /* Overrides the To Top button */
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: modalopen;
    animation-duration: 0.3s;
}

.modal-content {
    width: 588px;
    min-height: 350px;
    background-color: var(--white);
    padding: 30px;
    border-radius: 20px;
    margin: 30px;
    z-index: 9999;
}

@keyframes modalopen {
    from { opacity: 0 }
    to { opacity: 1 }
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-nested-container {
    width: 60%;
}

.modal-content label {
    padding: 0px;
    display: block;
    width: 75px;
    font-size: 18px;
}

.modal-content input {
    display: block;
    width: 100%;
    height: 35px;
    font-size: 16px;
    border: 2px solid var(--brown);
    border-radius: 5px;
    padding: 3px;
}

#message-field {
    min-height: 25px;
    max-height: 200px;
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    border: 2px solid var(--brown);
    border-radius: 5px;
    outline: none;
    padding: 3px;
    font-family: 'Open Sans', sans-serif;
}

.modal-content .submit-btn {
    width: 72.25px;
    height: 60.55px;
    background: url(assets/send-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    border: none;
    outline: none;
    margin: 20px auto 0 auto;
    cursor: pointer;
    border-radius: 0;
    transition: 0.2s ease;
}

.submit-btn:hover {
    filter: invert(15%) sepia(21%) saturate(10%) hue-rotate(99deg) brightness(99%) contrast(96%);
    transform: scale(1.05);
}

.submit-btn:active {
    transform: scale(0.95);
}

.hidden {
    display: none;
}

/* Footer */

footer {
    margin-top: 50px;
    height: 130px;
    width: 100%;
    background-color: var(--brown);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-text {
    text-align: center;
    padding-bottom: 20px;
    background-color: var(--brown);
    color: var(--white);
    padding: 20px;
}

.socials-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.linkedin, .twitter, .github {
    margin: 25px;
    height: 50px;
    width: 50px;
    border: 5px solid rgba(240, 247, 244, 0.3);
    border-radius: 50%;
    filter: invert(15%) sepia(11%) saturate(659%) hue-rotate(267deg) brightness(96%) contrast(93%);
    transition: 0.15s ease-out;
    cursor: pointer;
}

.linkedin:hover, .twitter:hover, .github:hover {
    filter: invert(15%) sepia(11%) saturate(659%) hue-rotate(267deg) brightness(96%) contrast(93%);
    transform: scale(1.15);
}

.linkedin {
    background: url(assets/linkedin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.twitter {
    background: url(assets/twitter.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.github {
    background: url(assets/github.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
